@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');


* {
    color: white;
}

html, body {
    background: rgb(134, 126, 126);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, black, black);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(44, 43, 43), rgb(104, 103, 103));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}

h1 {
    font-family: "Patua One", sans-serif;
    color: white;
}

.navbar-dark .navbar-brand {
    font-size: 4em;
    font-family: Alegreya SC;
    color: white;
    
}

.navbar-nav {
    font-size: 20px;
}


.portfolioLink {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.aboutLink {
    border-right: 1px solid white;
}

.contactLink {
    border-left: 1px solid white;
}


.container {
    margin-top: 45px;
    margin-bottom: 65px;
}

.nameBar {
    border-bottom: 2px solid white;
}

.work,
.contact,
.about {
    color:white;
}

img {
    width: 600px;
    height: 150px;
}

.square_image {
    width: 240px;
    height: 300px;
    border-radius: 50%;
    float: left;
    padding: 23px;
    shape-outside: circle();
    
}

.paragraph {
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 170px;
    line-height: 1.6em;
}

.container-grid {
    display: flex;
    flex-wrap: wrap
}

.contact-form {
    width: 80%;
}

.port-cards {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.card-header {
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(104, 101, 101);
}

i.fab,
i.fas,
a {
    color: black;
}

.wrapper {
    text-align: center;
}

.wrapper > h1 {
    padding: 20px;
    margin: 40px;
    font-size: 2.5rem;
}

.wrapper > p {
    font-size: 1.5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
}


.share > button {
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    margin: 5px;
    width: 130px;
}

.share > button > a {
    color: #fff;
}

i.fa-envelope:before {
    color: #fff;
}

i.fa-linkedin:before {
    color: white;
}

i.fa-github:before {
    color: white;
}